@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-gray: #4d4d62;
  --color-dark-gray: #1b1b32;
  --color-white: #ffffff;
  --color-gold: #f1be32;
  --font-lato: "Lato", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-gray);
  font-family: var(--font-lato);
}

.player {
  width: 90%;
  min-width: 400px;
  max-width: 400px;
  margin: 20px auto;
}

.player-header,
.player-playlist {
  background-color: var(--color-dark-gray);
  padding: 10px;
  margin-bottom: 0.6rem;
}

.player-header {
  height: 220px;
}

.player-header-bar,
.player-playlist-bar {
  height: 30px;
  background-color: var(--color-gray);
  display: flex;
  justify-content: space-evenly;
}

.parallel-lines {
  width: 30%;
  padding: 2px 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.parallel-lines div {
  height: 2px;
  background-color: var(--color-gold);
}

.fcc-title,
.playlist-title {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fcc-title h2,
.playlist-title h2 {
  font-family: var(--font-lato);
  font-size: large;
  color: var(--color-white);
}

.player-content,
.playlist-content {
  margin-top: 10px;
  background-color: var(--color-gray);
  padding: 1rem;
}

.player-content {
  display: flex;
  height: 160px;
  flex-direction: row;
}

.thumbnail {
  width: 40%;
  background-color: var(--color-dark-gray);
  padding: 4px;
}

img {
  width: 100%;
  height: 100%;
}

.controls {
  width: 55%;
  margin-left: 1rem;
  background-color: var(--color-dark-gray);
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.song-title {
  color: var(--color-white);
  font-size: 1.1rem;
  font-weight: 500;
}

.singer-title {
  color: var(--color-gold);
  font-size: 1rem;
}

.song-buttons {
  display: flex;
  color: var(--color-white);
  justify-content: space-evenly;
  padding: 3px;
  font-size: 1.2rem;
}

.song-buttons button {
  cursor: pointer;
  background-color: transparent;
  color: var(--color-white);
  border: none;
  font-size: 1.1rem;
  padding: 0 3px;
}

.song-buttons button:focus {
  outline-width: 2px;
  outline-style: dashed;
  outline-color: var(--color-gold);
}

#playlist-songs {
  background-color: var(--color-dark-gray);
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 8px 10px;
  justify-content: start;
  list-style: none;
}

.playlist-song {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

.playlist-song-info,
.playlist-song-delete {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.playlist-song-info {
  display: flex;
  text-align: start;
  justify-content: space-between;
}

.playlist-song-info:focus {
  outline: 2px dashed var(--color-gold);
}

.playlist-song-delete:focus {
  outline: 2px dashed var(--color-gold);
}

.playlist-song-title {
  width: 174px;
}
.playlist-song-artist {
  width: 80px;
  margin-right: 8px;
}
.playlist-song-duration {
  width: 40px;
}


.playing > i {
  color: var(--color-gold)
}

.highlight {
  background-color: var(--color-gray);
}