*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#btn {
  background: gold;
  border: 3px solid black;
  height: 45px;
  width: 200px;
  font-weight: 800;
  font-size: 1.3rem;
  border-radius: 0.6rem;
}

#btn:hover {
  background-color: rgb(196, 169, 19);
  color: white;
  box-shadow: 0 0 10px 0 gold;
}