.main {
  flex: 1;
  min-height: 100vh;
  padding-bottom: 15vh;
  position: relative;
}


.main .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  padding: 20px;
  color: #585858;
}

.main img {
  width: 40px;
  border-radius: 50%;
}

.main .main-container {
  width: 900px;
  margin: auto;
}

.main .main-container .greet {
  font-size: 56px;
  color: #c4c7c5;
  font-weight: 500;
  padding: 20px;
  margin: 50px 0;
}

.main .greet-title {
  color: linear-gradient
}