@font-face {
  font-family: "General Sans";
  src: url("/public/font/GeneralSans/GeneralSans-Regular.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("/public/font/GeneralSans/GeneralSans-Semibold.otf");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "General Sans";
  src: url("/public/font/GeneralSans/GeneralSans-Bold.otf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "General Sans";
  src: url("/public/font/GeneralSans/GeneralSans-Medium.otf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans";
}

body {
  background-color: black;
  padding: 0 2rem;
  color: white;
}

#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 1rem 0;
}

#logo {
  color: white;
  text-decoration: none;
}

#heroTitle {
  font-size: 7rem;
  display: flex;
  flex-direction: column;
  line-height: 6rem;
  text-transform: uppercase;
  padding: 5rem 0rem;
  font-weight: 600;
  width: max-content;
}

#heroTitle #heroTitleFirstPart {
  opacity: 0.6;
}

#heroTitle #heroTitleSecondPart {
  padding-left: 6rem;
  opacity: 0.6;
}

#heroTitle #heroTitleThirdPart {
  font-size: 1rem;
  text-align: end;
  line-height: normal;
  font-weight: normal;
}

.availablity {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 18px;
  font-weight: 500;
}

#heroFooter {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.twoArrows {
  display: flex;
  gap: 0.5rem;
}

.downArrow {
  background-color: white;
  color: black;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#secondSection {
  width: 80%;
}

#secondSection div {
  border-bottom: 1px solid #888;
  display: flex;
  color: #888;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  padding: 1rem 0;
}

#secondSection div:first-child {
  height: 9rem;
}

#secondSection h2 {
  font-size: 5vw;
  font-weight: 400;
}

#secondSection span {
  font-size: 1rem;
}

#secondSection img {
  position: absolute;
  width: 340px;
  height: 340px;
  z-index: 999;
  display: none;
}

#secondSection div:hover img {
  display: block;
}

#about-wrapper {
  width: 90%;
  padding: 5% 0;
}

#about {
  display: flex;
  align-items: center;
  margin-left: auto;
  width: fit-content;
  gap: 1rem;
}

#about-me {
  max-width: 400px;
}

#about-me h2 {
  color: #888;
  font-size: medium;
}

#about img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  object-fit: cover;
}


#about-me button {
  padding: 4px 16px;
  background-color: transparent;
  color: white;
  border-radius: 20px;;
  margin-top: 1rem;
}

#subcribe {
  padding: 2rem 0;
}
#subcribe h5{
  color: #888;
  margin-bottom: 4px;
}

#subcribe a {
  background-color: transparent;
  color: white;
  text-decoration: none;
}