*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #0a0a23;
  --white: #fff;
  --gold: #feac32;
  --red: #ff0000;
}

body {
  background-color: var(--blue);
}

.container {
  width: 90%;
  min-width: 320px;
  max-width: 500px;
  background-color: var(--white);
  margin: 30px auto 0;
  padding: 0.7rem;
}

.game > div {
  border: 1px solid var(--blue);
  padding: 6px;
}

.stats > span ,
#monster-stats > span {
  margin-right: 10px;
}

.controls > button {
  margin-right: 2px;
  background-color: var(--gold);
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid var(--gold);
  cursor: pointer;
}

#message-text {
  background-color: var(--blue);
  color: var(--white);
}

#monster-stats {
  background-color: var(--red);
  color: var(--white);
}

.hide {
  display: none;
}