:root {
  --color-darkblue: #1b1b32;
  --color-white: #f5f6f7;
  --color-gold: #ffc244;
  --color-gold-dark: #feac32;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-darkblue);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  text-align: center;
}

.title {
  text-align: center;
  color: var(--color-white);
  margin: 2rem 0;
}

.btn {
  width: 200px;
  border: 3px solid var(--color-gold-dark);
  background-color: var(--color-gold);
  font-size: 0.8rem;
}

.btn:hover {
  background-image: linear-gradient(
    180deg,
    var(--color-gold),
    var(--color-gold-dark)
  );
}

.rules-container {
  display: none;
  width: 50%;
  margin: 30px auto;
  background-color: var(--color-white);
  height: 300px;
  overflow-y: scroll;
  border-radius: 10px;
}

.rules-container li {
  list-style-type: none;
  margin: 2px 0;
}

.point {
  margin: 10px 0;
}

main {
  background-color: var(--color-white);
  padding: 20px;
  width: 50%;
  margin: 1rem auto;
  border-radius: 10px;
  display: grid;
  gap: 1rem;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}



.dice {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.die {
  border: 2px solid var(--color-darkblue);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round-text {
  margin-bottom: 1rem;
  text-align: center;
}

.score-options {
  margin-bottom: 1rem;
}

input[type="radio"]:disabled + label {
  color: grey;
}

@media (max-width: 995px) {
  main {
    width: 100%;
  }
}
